.feedback-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    align-items: flex-start;
    gap: 24px;
}

.feedback-preview .preview-resumen{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.feedback-preview .back-historic a {
    display: flex;
    justify-content: flex-start;    
    gap: 8px;
    align-items: center;
    text-decoration: none;
}

.feedback-preview .back-historic a img{
    width: 16px;
    height: 16px;
}

.feedback-preview .back-historic a p{
    color: var(--gris-medio-gris-medio-50);
    text-align: center;
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feedback-preview .preview-desc {
    display: flex;
    width: 100%;
}

.feedback-preview .preview-desc div {
    display: flex;
    gap: 8px;
    flex: 1;
}

.feedback-preview .preview-desc div img {
    width: 16px;
    height: 16px;
}

.feedback-preview .preview-desc div p {
    color: var(--texto-primario);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.feedback-preview .assignment-text {
    display: flex;
}

.feedback-preview .assignment-text p {
    color: var(--azul-primario);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.feedback-preview .feedback-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.feedback-preview .feedback-text .text {
    color: var(--azul-primario);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}

.feedback-preview .feedback-text .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.feedback-preview .feedback-text .buttons button{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    border: 1px solid var(--azul-primario);
    background: var(--neutro-primario);
}

.feedback-preview .feedback-text .buttons img {
    width: 12px;
    height: 12px;
}

.feedback-preview .feedback-text .buttons p {
    color: var(--azul-primario);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.feedback-preview .textarea p {
    color: var(--texto-primario);
    font-size: var(--font-size-3);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback-preview .textarea {
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 16px;
    height: 200px;
    border-radius: 2px;
    border: 1px solid var(--ui-gris_bordes);
    background: var(--gris-medio-gris-medio-10);
}