:root {
    --primary-color: ;
    --secondary-color: ;
    --primary-color-font: white;
    --secondary-color-font: white;
    --neutro-primario: #FFF;
    --texto-primario:#4A4F55;
    --azul-primario: #0661FC;
    --azul-azul-80: #002E84;
    --azul-azul-70: #0045BA;
    --azul-azul-10: #EFF6FF;
    --gris-gris-50: #8C8C8C;
    --gris-gris-20: #DEDEDE;
    --ui-gris_bordes: #CCC;
    --gris-7C: #7C7C7C;
    --gris-medio-gris-medio-10: #F2F4F8;
    --gris-medio-gris-medio-50: #848D95;
    --border-radio-1: 5px;
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 24px;
    --font-size-6: 36px;
    --font-size-7: 58px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #eaf7ff !important;
}

p, h1, h2, h3, span {
    font-family: 'Lato', sans-serif !important;
    margin: 0 !important;
}