.loading {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 64px;
    gap: 24px;
}

.loading .animation {
    display: flex;
    justify-content: center;
    height: 280px;
    border: 0;
}

.loading .animation img {
    width: 500px;
    height: 280px;
    border: 0;
}

.loading .progress-bar {
    display: flex;
    flex-direction: column;
}

.loading .progress-bar progress {
    width: 100%;
}

.loading .progress-bar p {
    color: var(--gris-7C);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.loading .progress-count {
    color: var(--gris-7C);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.hidden-image {
    display: none;
}

.progress-container{
    display: flex;
    width: 100%;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: 2px;
    background: var(--Azul-Azul-10, #EFF6FF);
    box-shadow: 1px 0px 6px 0px rgba(74, 79, 85, 0.10) inset;
}

.progress-bar-design{
    height: 10px;
    border-radius: 2px;
    background: linear-gradient(90deg, #0071BF 0%, #0661FC 49.5%, #B7E4FF 100%, #0091E9 100%);
}