<link href="/static/css/feedback-preview.css?v=1" rel="stylesheet">

{% extends "layout-tabs.html" %}

{% block tabs %}
<div class="feedback-preview">
    <div class="back-historic">
        <a href="/feedback-historic">
            <img src="/static/img/back-blue.svg" alt="">
            <p>Ver historial</p>
        </a>
        <form action="/generate_response_file" method="POST">
            <input value="{{id_requests_group}}" type="hidden" name="id_request_group">
            <button class="download" type="submit">
                <img src="/static/img/download-white.svg" alt="">
                <p>Descargar todo</p>
            </button>
        </form>
    </div>
    <div class="file-detail">
        <div class="file-assignment">
            <img src="/static/img/file-text.svg" alt="">
            <p><strong>Actividad: </strong>{{ homework_number | get_name_homework }}</p>
        </div>
        <div class="file-section">
            <img src="/static/img/box.svg" alt="">
            <p><strong>Sección: </strong>{{ nro_clase }}</p>
        </div>
    </div>
    <div class="preview-nav">
        <div class="files-name" id="scrollContainer">
            {% for key, value in requests.items() %}
                <button id="{{ key }}" class="file_name {% if loop.first %} selected {% endif %}">
                    <p>{{ value.file_name | replace(',', ', ') }}</p>
                </button>
            {% endfor%}
        </div>
        <div class="files-nav">
            <button class="disabled" id="prevButton">
                <img src="/static/img/back.svg" alt="">
                <p>Anterior archivo</p>
            </button>
            <p id="selectionCounter"></p>
            <button id="nextButton">
                <p>Siguiente archivo</p>
                <img src="/static/img/back-blue.svg" style="transform: scaleX(-1);" alt="">
            </button>
        </div>
    </div>
    {% for key, value in requests.items() %}
        <div id="{{ key }}" class="preview-content {% if loop.first %} active {% endif %}">
            <div class="assignment-detail">
                <p class="assignment-desc">Archivo del estudiante: {{ value.file_name | replace(',', ', ') }}</p>
                <div class="assignment-text">
                    <p>
                        {{ value.user_prompt | replace('\n', '<br>') | safe}}
                    </p>
                </div>
            </div>
            <div class="feedback-detail">
                <div class="feedback-download">
                    <p class="feedback-desc">Feedback:</p>
                    <div class="feedback-option">
                        <div class="feedback-reaction">
                            <img class="button-like {{ 'seleted' if value.reaction == 1 else '' }}" src="/static/img/like.svg" alt="like" data-key="{{ key }}" onclick="sendReaction('{{ key }}', 1)">
                            <img class="button-dislike {{ 'seleted' if value.reaction == 0 else '' }}" src="/static/img/dislike.svg" alt="dislike" data-key="{{ key }}" onclick="sendReaction('{{ key }}', 0)">
                        </div>
                        <button class="button-copy" onclick="copyFeedbackText('{{ key }}')">
                            <img src="/static/img/copy.svg" alt="">
                            <p>Copiar</p>
                        </button>
                    </div>
                </div>
                
                <div class="feedback-text" id="feedbackText_{{ key }}">
                    <p>
                        {{ value.result_text | replace('\n', '<br>') | safe}}
                        
                        {% if link_form_homework != 'no form' %}
                            <br><br>
                            👋 Did you like this feedback? Rate it in the survey!
                            <br>
                            <a target="_blank" href="{{ link_form_homework }}{{ key }}">{{ link_form_homework }}{{ key }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div id="alertContainer"></div>
</div>
<script src="/static/js/feedbackPreview.js?v=1"></script>
{% endblock %}