<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>Upload PDF and DOCX Files</h1>
    <ul id="fileList">
        {% for text_assignment in text_assignments %}
        <!-- <li>Timestamp: {{ text_assignment.timestamp }}, File Name: {{ text_assignment.file_name }}, Text: {{ text_assignment.file_text }}</li> -->
        <li>File Text: {{ text_assignment }}</li>
        {% endfor %}
    </ul>
    <a href="{{doc_url}}">{{doc_url}}</a>
</body>
</html>