{% extends "layout.html" %}

{% block main %}
<div class="feedback">
    <div class="feedback-banner">
        <p class="banner-title">Feedback automático UTP</p>
        <p class="banner-desc">Una herramienta simple y poderosa para generar feedback para corregir tareas, <strong>automáticamente.</strong></p>
    </div>
    <div class="feedback-menu"> 
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/feedback-gen">
                    <img class="disable" src="/static/img/box-disable.svg" alt="">
                    <img class="active" src="/static/img/box.svg" alt="">
                    <p>Generador de Feedback</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/historial">
                    <img class="disable" src="/static/img/clock-disable.svg" alt="">
                    <img class="active" src="/static/img/clock.svg" alt="">
                    <p>Historial</p>
                </a>
            </li>
        </ul>
        <div class="content-tabs">
            <div class="download-feedback">
                <div class="download-title" >
                    <p>Historial de feedback generado</p>
                </div>
                <div class="download-button">
                    <button>
                        <img src="/static/img/download.svg" alt="">
                        <p>Descargar</p>
                    </button>
                </div>
            </div>
            <div class="list-feedbacks">
                <table class="table table-striped">
                    <thead class="">
                        <tr>
                            <th><input class="checkbox-custom" type="checkbox"></th>
                            <th><p>Fecha creación</p></th>
                            <th><p>Feedback generado</p></th>
                            <th><p>Enlace</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="checkbox-custom" type="checkbox"></td>
                            <td><p>26/01/2024</p></td>
                            <td><p>AC-07_Juan_Perez.docx</p></td>
                            <td class="preview">
                                <img src="/static/img/eye.svg" alt="">
                                <a href="/feedback-preview"><p>Ver Feedback</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td><input class="checkbox-custom" type="checkbox"></td>
                            <td><p>26/01/2024</p></td>
                            <td><p>AC-07_Juan_Perez.docx</p></td>
                            <td class="preview">
                                <img src="/static/img/eye.svg" alt="">
                                <a href="/feedback-preview"><p>Ver Feedback</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td><input class="checkbox-custom" type="checkbox"></td>
                            <td><p>26/01/2024</p></td>
                            <td><p>AC-07_Juan_Perez.docx</p></td>
                            <td class="preview">
                                <img src="/static/img/eye.svg" alt="">
                                <a href="/feedback-preview"><p>Ver Feedback</p></a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}