<link href="/static/css/feedback-generator.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.5.0/mammoth.browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<!-- <script src="https://mozilla.github.io/pdf.js/build/pdf.mjs" type="module"></script> -->

{% extends "layout-tabs.html" %}

{% block tabs %}
<div class="tab-feedback-generator">
    <div class="select-assignment">
        <div class="input">
            <p>Curso :</p>
            <select class="form-select" aria-label="Disabled select example" disabled>
                <option selected>Inglés I</option>
            </select>
        </div>
        <div class="input">
            <p>Tarea:</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1" selected>🔴 (AC-S04) Week 04 - Task: Assignment – Jobs and Occupations</option>
                <option value="2">🔴 (AC-S07) Week 07 - Task: Assignment - My Family</option>
                <option value="3">🔴 (AC-S09) Week 09 - Task: Assignment - A family member I admire</option>
                <option value="4">🔴 (AC-S12) Week 12 - Task: Assignment – What's their daily routine?</option>
                <option value="5">🔴 (AC-S14) Week 14 - Task: Assignment - Things I like and don't like</option>
                <option value="6">🔴 (AC-S17) Week 17 - Task: Assignment - Final Assignment - “Applying to Disney - Part I”</option>
            </select>
        </div>
    </div>
    <div class="upload-message">
        <!-- <p>Puedes subir múltiples archivos.</p> -->
        <p>Puedes subir multiples archivos word (docx) y pdf.</p>
    </div>
    <div class="upload-files" id="uploadFilesArea">
        <div class="text-drop-area" id="textDropArea" style="display: none;">
            <p>Suelta para subir los archivos</p>
        </div>
        <div class="upload-button-first" id="uploadButtonFirst">
            <button id="fileInputButtonFirst">
                <img src="/static/img/upload.svg" alt="">
                <p>Subir archivo</p>
            </button>
        </div>
        <div class="upload-desc" id="uploadDesc">
            <p>Archivos permitidos: .PDF o Word</p>
            <p>(Máximo tamaño por archivo: 500MB)</p>
        </div>
        <div class="files-list" id="filesList" style="display: none;">
            <ul id="selectedFilesList"></ul>
        </div>
        <div class="upload-button-second" id="uploadButtonSecond" style="display: none;">
            <button id="fileInputButtonSecond">
                <img src="/static/img/upload.svg" alt="">
                <p>Agregar más archivos</p>
            </button>
        </div>
        <div class="select-files-desc" id="selectFilesDesc" style="display: none;">
        </div>
    </div>
    <form id="uploadForm" action="/loading" method="POST" enctype="multipart/form-data" class="upload-next">
        <input type="file" name="selectedFiles[]" id="fileInput" hidden multiple accept=".pdf,.docx">
        <input type="hidden" name="request_group" id="request_group">
        <button type="button" id="submitFiles" class="btn btn-secondary" disabled>
            <p>siguiente</p>
            <img class="img-disable" id="imgSubmitDisable" src="/static/img/next.svg" alt="">
            <img class="img-active" id="imgSubmitActive" src="/static/img/next-white.svg" alt="" style="display: none;">
        </button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.5.1/mammoth.browser.min.js"></script>
<script src="/static/js/feedbackGenerator.js"></script>
{% endblock %}