<link href="/static/css/layout-tabs.css?v=1" rel="stylesheet">

{% extends "layout.html" %}

{% block main %}
<div class="feedback">
    <div class="feedback-banner">
        <p class="banner-title">Feedback generado con IA - UTP</p>
        <!-- <p class="banner-desc">Una herramienta simple y poderosa para generar feedback para corregir tareas, <strong>automáticamente.</strong></p> -->
    </div>
    <div class="feedback-menu">
        {% block tabs %} {% endblock %}
    </div>
</div>
<button id="btnLogout" class="btn btn-primary">
    <p>Cerrar sesión</p>
</button>

<script src="/static/js/layoutTabs.js?v=1"></script>
{% endblock %}