<link href="/static/css/loading.css" rel="stylesheet">

{% extends "layout-tabs.html" %}

{% block tabs %}

<style>
    .hidden-image {
        display: none;
    }
</style>

<div class="loading">
    <div class="animation">
        

        <img id="gifDisplay"  alt="">
        <img  src="/static/img/animation-loading-1.gif" alt="" class="hidden-image">
        <img  src="/static/img/animation-loading-2.gif" alt="" class="hidden-image">
        <img  src="/static/img/animation-loading-3.gif" alt="" class="hidden-image">
        <img  src="/static/img/animation-loading-4.gif" alt="" class="hidden-image">
        <img  src="/static/img/animation-loading-5.gif" alt="" class="hidden-image">
    </div>
    <div class="progress-bar">
        <p>Cargando...</p>
        <progress value="0" max="{{doc_number}}" id="Progress"></progress>
    </div>
    <div class="progress-count">
        <p><span id="counterValue"></span> de <span id="doc_number">{{doc_number}}</span> archivos</p>
    </div>
</div>
<form action="/processing" method="POST" id="form">
    <input type="hidden" value="{{request_group}}" name="request_group">
</form>
<script>

    var gifPaths = ["animation-loading-1.gif", "animation-loading-2.gif", "animation-loading-3.gif", "animation-loading-4.gif", "animation-loading-5.gif"];
    var img = document.getElementById("gifDisplay")
    function carrucel(){
        console.log(gifPaths[0])
        img.src = "/static/img/"+gifPaths[0]
        setTimeout(function(){
            img.src = "/static/img/"+gifPaths[1]
        },3750);
        setTimeout(function(){
            img.src = "/static/img/"+gifPaths[2]
        },3800+4500);
        setTimeout(function(){
            img.src = "/static/img/"+gifPaths[3]
        },3800+(4500*2));
        setTimeout(function(){
            img.src = "/static/img/"+gifPaths[4]
        },3800+(4500*3));
    }

    window.onload = function(){
        carrucel();
        setInterval(carrucel, 21850);
    };
    

    // window.onload = function() {
    //     document.getElementById("form").submit();
    // };

    
</script>

<script>
    // Function to fetch counter semaphore value
    // function update_progress_bar(new_value){
    //     let progressBar = document.getElementById('Progress');
    //     let old_value = progressBar.value;
    //     for(i=old_value; i<=new_value;i++){
    //         progressBar.value = i;
    //     }
    // }


    // async function fetchCounterSemaphoreValue() {
    //     let progressBar = document.getElementById('Progress');
    //     try {
    //         const response = await fetch('/get-counter-semaphore');
    //         const data = await response.json();
    //         document.getElementById('counterValue').textContent = data.counter_semaphore_value;
    //         console.log(data.counter_semaphore_value);
    //         progressBar.value = data.counter_semaphore_value
            
    //     } catch (error) {
    //         console.error('Error fetching counter semaphore value:', error);
    //     }
    // }

    // // Initial fetch
    // fetchCounterSemaphoreValue();

    // // Periodically update counter semaphore value
    // setInterval(fetchCounterSemaphoreValue, 100); //
</script>
{% endblock %}