{% extends "layout.html" %}

{% block main %}
<div class="login">
    <div class="login-content">
        <p class="login-title">Generador de Feedback Automático</p>
        <p class="login-desc">Ingresa tus datos para <strong>iniciar sesión</strong></p>
        <form class="login-form" action="/" method="POST">              
            <div class="user input-group mb-3">
                <input type="text" class="form-control" name="email" placeholder="Código o correo UTP" aria-label="Username" aria-describedby="basic-addon1">
                <img class="input-group-text" src="/static/img/mail.svg" alt="">
            </div>              
            <div class="password input-group mb-3">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
                <img class="input-group-text" src="/static/img/password.svg" alt="">
            </div>
            <button class="login-button" type="submit">Iniciar sesión</button>
        </form>
        
    </div>
</div>
{% endblock%}