{% extends "layout.html" %}

{% block main %}
<div class="login">
    <div class="login-content">
        <p class="login-title">Generador de Feedback Automático</p>
        <p class="login-desc">Ingresa tus datos para <strong>iniciar sesión</strong></p>
        <div class="login-form">              
            <div class="user input-group mb-3">
                <input type="text" class="form-control" placeholder="Código o correo UTP" aria-label="Username" aria-describedby="basic-addon1">
                <img class="input-group-text" src="/static/img/mail.svg" alt="">
            </div>              
            <div class="password input-group mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
                <img class="input-group-text" src="/static/img/password.svg" alt="">
            </div>
        </div>
        <button class="login-button">Iniciar sesión</button>
    </div>
</div>
{% endblock%}